/* programmed by Rayees Rather  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

:root {
  --pink: #ff0080;
  --cyan: #00ffff;
  --black: #111;
  --white: #fff;
  --glassback: rgba(255, 255, 255, 0);
}

html {
  scroll-behavior: smooth;
}

/* custom scroll bar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--black);
}
::-webkit-scrollbar-thumb {
  background: var(--cyan);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--white);
}

/* all similar content styling codes */
section {
  padding: 100px 0;
}
.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}
.about,
.services,
.skills,
.teams,
.contact,
footer {
  font-family: "Ubuntu", sans-serif;
}
.about .about-content,
.services .serv-content,
.skills .skills-content,
.contact .contact-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

body {
  background-color: var(--black);
}

section .title {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: "Ubuntu", sans-serif;
}
section .title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 3px;
  background: var(--black);
  transform: translateX(-50%);
}
section .title::after {
  position: absolute;
  bottom: -8px;
  left: 50%;
  font-size: 20px;
  color: var(--white);
  padding: 0 5px;
  transform: translateX(-50%);
}

hr {
  color: var(--cyan);
  border-style: none;
  border-top-style: dotted;
  border-width: 0.75rem;
  width: 10%;
}

hr:hover {
  color: var(--pink);
  width: 11%;
}

/* navbar styling */
.navbar {
  position: sticky;
  width: 100%;
  z-index: 999;
  padding: 30px 0;
  font-family: "Ubuntu", sans-serif;
  transition: all 0.3s ease;
  background-color: #ff0080;
}
.navbar.sticky {
  padding: 15px 0;
  background: var(--pink);
}
.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a {
  color: var(--white);
  font-size: 35px;
  font-weight: 600;
}
.navbar .logo a span {
  color: var(--cyan);
  transition: all 0.3s ease;
}
.navbar.sticky .logo a span {
  color: var(--white);
}
.navbar .menu li {
  list-style: none;
  display: inline-block;
}
.navbar .menu li a {
  display: block;
  color: var(--white);
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
}
.navbar .menu li a:hover {
  color: var(--pink);
}
.navbar.sticky .menu li a:hover {
  color: var(--cyan);
}

/* menu btn styling */
.menu-btn {
  color: var(--white);
  font-size: 45px;
  cursor: pointer;
  display: none;
  padding: 7px;
  text-shadow: 4px 4px 6px var(--black);
}
.scroll-up-btn {
  position: fixed;
  height: 45px;
  width: 42px;
  background: var(--white);
  right: 30px;
  bottom: 10px;
  text-align: center;
  line-height: 45px;
  color: var(--pink);
  z-index: 9999;
  font-size: 30px;
  border-radius: 6px;
  border-bottom-width: 2px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.scroll-up-btn.show {
  bottom: 30px;
  opacity: 1;
  pointer-events: auto;
}
.scroll-up-btn:hover {
  background: var(--pink);
  color: var(--white);
}

/* home section styling */
.home {
  display: flex;
  background: url("images/bg.jpg") no-repeat center;
  height: 100vh;
  color: var(--white);
  min-height: 500px;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Ubuntu", sans-serif;
}
.home .max-width {
  width: 100%;
  display: flex;
}
.home .max-width .row {
  margin-right: 0;
}
.home .home-content .text-1 {
  font-size: 27px;
}
.home .home-content .text-2 {
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
  color: var(--white);
  text-shadow: 4px 4px 8px var(--black);
}
.home .home-content .text-3 {
  font-size: 40px;
  margin: 5px 0;
}
.home .home-content .text-3 span {
  color: var(--cyan);
  font-weight: 500;
}
.home .home-content a {
  display: inline-block;
  background: var(--cyan);
  color: var(--black);
  font-size: 25px;
  padding: 12px 36px;
  margin-top: 20px;
  font-weight: 400;
  border-radius: 6px;
  border: 2px solid var(--cyan);
  transition: all 0.3s ease;
}
.home .home-content a:hover {
  color: var(--cyan);
  background: none;
}

/* about section styling */

.about {
  color: var(--white);
  background: var(--black);
}

.about .title::after {
  content: "Who I Am";
  background: var(--black);
}

.about .title::before {
  background: var(--white);
}

.about .about-content .left {
  width: 45%;
}
.about .about-content .left img {
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 6px;
}

.about .about-content .right {
  width: 55%;
}
.about .about-content .right .text {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}
.about .about-content .right .text span {
  color: var(--pink);
}
.about .about-content .right p {
  text-align: justify;
  font-weight: 500;
}

.about .about-content .right p i {
  color: var(--pink);
}

.about .about-content .right a {
  display: inline-block;
  background: var(--pink);
  color: var(--white);
  font-size: 20px;
  font-weight: 500;
  padding: 10px 30px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px var(--pink);
  transition: all 0.3s ease;
}
.about .about-content .right a:hover {
  color: var(--pink);
  background: none;
}

/* services section styling */
.services {
  color: var(--white);
  background: var(--black);
}
.services .title::before {
  background: var(--white);
}
.services .title::after,
.projects .title::after {
  background: var(--black);
  content: "Interests";
}
.services .serv-content .card {
  width: calc(33% - 20px);
  background: url(images/bg1.jpg);
  text-align: center;
  border-radius: 6px;
  padding: 50px 25px;
  transition: all 0.3s ease;
}
.services .serv-content .card:hover {
  background: url(images/bg2.jpg);
}
.services .serv-content .card .box {
  transition: all 0.3s ease;
}
.services .serv-content .card:hover .box {
  transform: scale(1.05);
}
.services .serv-content .card i {
  font-size: 50px;
  color: var(--cyan);
  transition: color 0.3s ease;
}
.services .serv-content .card:hover i {
  color: var(--white);
}
.services .serv-content .card .text {
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0;
}

.services .serv-content .card .text p {
  font-weight: 250;
}

/* links section styling */
/* 
.links .title::after{
    content: "My Socials";
    background: #fff;
} */

/* projects section styling */

.projects {
  color: var(--white);
  background: var(--black);
}

.projects .title::after {
  content: "Social Media";
  background: var(--black);
}

.projects .title::before {
  background: var(--white);
}

.projects .carousel .card {
  background: url(images/bg2.jpg);
  border-radius: 6px;
  padding: 25px 35px;
  text-align: center;
  overflow: hidden;
  transition: all 0.3s ease;
}
.projects .carousel .card:hover {
  background: url(images/bg1.jpg);
}
.projects .carousel .card .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
.projects .carousel .card:hover .box {
  transform: scale(1.05);
}
.projects .carousel .card .text {
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0;
  font-family: sans-serif;
}

.projects .carousel .card img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid var(--pink);
  transition: all 0.3s ease;
}
.projects .carousel .card:hover img {
  border-color: var(--white);
}

.projects .text {
  text-decoration: none;
  color: var(--white);
  font-family: "Ubuntu", sans-serif;
}

.projects .box p {
  color: var(--white);
  font-family: "Ubuntu", sans-serif;
}

.owl-dots {
  text-align: center;
  margin-top: 20px;
}
.owl-dot {
  height: 13px;
  width: 13px;
  margin: 0 5px;
  outline: none !important;
  border-radius: 50%;
  border: 2px solid var(--pink) !important;
  transition: all 0.3s ease;
}
.owl-dot.active {
  width: 35px;
  border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover {
  background: var(--cyan) !important;
}

/* footer section styling */
footer {
  background: var(--black);
  padding: 40px 1px;
  color: var(--white);
  text-align: center;
}
footer span a {
  color: var(--pink);
  text-decoration: none;
}
footer span a:hover {
  text-decoration: none;
  color: var(--cyan);
}

/* Cursor Tracker Starts */

#cursor {
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  border: 2px solid #fff;
  transition: 0.1s;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  pointer-events: none;
}

/* Cursor Tracker Ends */

/* responsive media query start */
@media (max-width: 1104px) {
  .about .about-content .left img {
    height: 350px;
    width: 350px;
  }
}

@media (max-width: 991px) {
  .max-width {
    padding: 0 50px;
  }
}
@media (max-width: 947px) {
  .menu-btn {
    display: block;
    z-index: 999;
  }
  .menu-btn i.active:before {
    content: "\f00d";
  }
  .navbar .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: var(--black);
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
  }
  .navbar .menu.active {
    left: 0;
  }
  .navbar .menu li {
    display: block;
  }
  .navbar .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }
  .home .home-content .text-2 {
    font-size: 70px;
  }
  .home .home-content .text-3 {
    font-size: 35px;
  }
  .home .home-content a {
    font-size: 23px;
    padding: 10px 30px;
  }
  .max-width {
    max-width: 930px;
  }
  .about .about-content .column {
    width: 100%;
  }
  .about .about-content .left {
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
  }
  .about .about-content .right {
    flex: 100%;
  }
  .services .serv-content .card {
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
  .skills .skills-content .column,
  .contact .contact-content .column {
    width: 100%;
    margin-bottom: 35px;
  }
}

@media (max-width: 690px) {
  .max-width {
    padding: 0 23px;
  }
  .home .home-content .text-2 {
    font-size: 60px;
  }
  .home .home-content .text-3 {
    font-size: 32px;
  }
  .home .home-content a {
    font-size: 20px;
  }
  .services .serv-content .card {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .home .home-content .text-2 {
    font-size: 50px;
  }
  .home .home-content .text-3 {
    font-size: 27px;
  }
  .about .about-content .right .text,
  .skills .skills-content .left .text {
    font-size: 19px;
  }
  .contact .right form .fields {
    flex-direction: column;
  }
  .contact .right form .name,
  .contact .right form .email {
    margin: 0;
  }
  .right form .error-box {
    width: 150px;
  }
  .scroll-up-btn {
    right: 15px;
    bottom: 15px;
    height: 38px;
    /* width: 35px; */
    font-size: 23px;
    line-height: 38px;
  }
}
